{% extends "base.html" %}

{% block title %}

Polll - Admin

{% endblock %}

{% block body %}

<!-- Background -->
<div class="w-screen h-screen flex flex-col text-nord-0 dark:bg-neutral-900 dark:text-nord-4">

  {% include "navbar.html" %}

  <!-- Document Body -->
  <div class="flex overflow-hidden flex-row grow">

    <!-- Left Sidebar -->
    <div class="hidden p-2 md:flex md:justify-center md:w-2/12"></div>

    <!-- Main Column -->
    <div 
      class="w-full overflow-auto md:w-8/12 py-10 px-2 no-scrollbar"
      id="admin-content" 
    >
      {% include "admin/menu.html" %}
      {% block admin_content %}{% endblock %}
    </div>

    <!--Right Sidebar-->
    <div class="hidden md:flex md:justify-center md:w-2/12 p-2"></div>


  </div>
</div>

{% endblock %}
