{% if session.boards %}

<div class="grid grid-cols-1 border-t border-nord-0 dark:border-nord-3 border-collapse my-2">

  {% for id, board in session.boards.items() %}

  <div class="flex flex-row border-x border-b border-nord-0 dark:border-nord-3 p-4 items-center">

    <p class="text-xl">{{ board.name }}</p>
    <p class="ml-auto mr-2">Primary:</p>
    <input 
      type="checkbox" 
      class="w-6 h-6 mr-4"
      hx-get="{{ url_for('admin.update_board', board_id = board.id) }}"
      hx-swap="none"
      {% if board.primary %}checked{% endif %}
    >
    <button class="rounded-md w-40 h-10 dark:bg-nord-11 dark:text-nord-0"
      hx-get="{{ url_for('admin.delete_board', board_id = board.id) }}"
      hx-target="#boards-list"
      hx-swap="innerHTML"
      hx-confirm="Are you sure you want to delete board '{{ board.name }}'?"
    >
      Delete Board
      <i class="fa fa-trash ml-1"></i>
    </button>

  </div>

  {% endfor %}

</div>

{% endif %}
