{% extends "admin/admin.html" %}

{% block admin_content %}

{% if reports %}

  <div class="grid grid-cols-1 border-t border-nord-0 dark:border-nord-3 border-collapse my-6">

  {% for report in reports %}

    <div class="border-x border-b border-nord-0 dark:border-nord-3 p-4">

      <div 
        class="flex flex-row" 
        onclick="toggle_admin_information('poll', {{ report.id }})"
      >

        {% include "admin/polls-alert.html" %}

        <p class="text-l">
          <span class="font-bold">{{ format_time(report.created_at) }}</span>
        </p>
        <button class="ml-auto">
          <i class="fa fa-angle-right" id="poll-toggle-{{ report.id }}"></i>
        </button>
      </div>

      <div class="hidden" id="poll-info-{{ report.id }}">

        <div class="py-2">
          <p>{{ report.question }}</p>
          <ul class="list-disc list-inside">
            {% for answer in report.answers %}
              <li>{{ answer }}</li>
            {% endfor %}
          </ul>
        </div>

        <p>
          <i>Report Creator: </i>
          <a 
            class="text-nord-7 hover:underline" 
            href="{{ url_for('admin.users', column='id', search=report.creator.id) }}"
          >
            {{ report.creator.username }}
          </a>
        </p>
        <p>
          <i>Poll Creator: </i>
          <a 
            class="text-nord-7 hover:underline" 
            href="{{ url_for('admin.users', column='id', search=report.receiver.id) }}"
          >
            {{ report.receiver.username }}
          </a>
        </p>
        <div class="flex flex-row items-center">
          <p>Mark as complete:</p>
          <input 
            class="ml-2 w-4 h-4" 
            type="checkbox" 
            autocomplete="off"
            hx-trigger="click"
            hx-get="{{ url_for('admin.handle_poll', report_id=report.id) }}"
            hx-target="#poll-alert-{{ report.id }}"
            hx-swap="outerHTML"
            {% if report.handled %}checked{% endif %}
          >
        </div>

      </div>

    </div>

  {% endfor %}
  
  </div>

{% endif %}

{% endblock %}

