<div class="m-2" id="active-poll">

  <!-- <p class="my-1">({{ poll.id }}) ({{ poll.poll_type.name }})</p>-->
  <input class="border border-black my-2 px-2"
         placeholder="Question"
         type="text" 
         name="poll_text" 
         value="{{ poll.question }}">
  
  {% if poll.poll_type.name not in ["NUMERIC_STAR", "NUMERIC_SCALE"] %}
    {% include "admin/poll-active-list.html" %}
  {% else %}
    <br>
  {% endif %}

  <button class="border border-black px-2 my-2"
          hx-get="{{ url_for('save_poll', poll_id=poll.id) }}"
          hx-include="[id='active-poll']"
          hx-target="closest div"
          hx-swap="outerHTML">
    Save
  </button>
  <button class="border border-black px-2 my-2"
          hx-get="{{ url_for('delete_poll', poll_id=poll.id) }}"
          hx-target="closest div"
          hx-swap="outerHTML">
    Delete
  </button>

<hr>

</div>



