{% extends "admin/admin.html" %}

{% block admin_content %}

  {% if reports %}

  <div class="grid grid-cols-1 border-t border-nord-0 dark:border-nord-4 border-collapse my-6">

  {% for report in reports %}

    <div class="flex flex-row border-x border-b border-nord-0 dark:border-nord-4 p-4 items-center">
      <span class="font-bold">{{ report.timestamp }}</span> 
      <a class="ml-auto bg-nord-3 text-nord-6 dark:bg-nord-4 dark:text-nord-0 rounded-md px-4 py-1"
          href="{{ url_for('admin.polls', column='poll.id', search=report.poll_id) }}">
        Poll
        <i class="ml-1 fa fa-newspaper"></i>
      </a>
      <a class="ml-2 bg-nord-3 text-nord-6 dark:bg-nord-4 dark:text-nord-0 rounded-md px-4 py-1"
          href="{{ url_for('admin.users', column='id', search=report.creator_id) }}">
        Reporter
        <i class="ml-1 fa fa-user"></i>
      </a>
      <a class="ml-2 bg-nord-3 text-nord-6 dark:bg-nord-4 dark:text-nord-0 rounded-md px-4 py-1"
          href="{{ url_for('admin.users', column='id', search=report.receiver_id) }}">
        User Reported
        <i class="ml-1 fa fa-user"></i>
      </a>
    </div>

  {% endfor %}
  
  </div>

  {% endif %}

{% endblock %}

