{% extends "admin/admin.html" %}

{% block admin_content %}
  <div class="flex flex-row">
    <div class="w-1/2 px-4 py-2">
      <p class="font-bold text-center">Number of Responses</p>
      <table class="border-collapse my-4 w-full">
        <tbody>
          <tr>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">Past Day</td>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
              {{ stats.responses[0] }}
            </td>
          </tr>
          <tr>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">Past 7 Days</td>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
              {{ stats.responses[1] }}
            </td>
          </tr>
          <tr>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">Past 30 Days</td>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
              {{ stats.responses[2] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="w-1/2 px-4 py-2">
      <p class="font-bold text-center">Polls Created</p>
      <table class="border-collapse my-4 w-full">
        <tbody>
          <tr>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">Past Day</td>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
              {{ stats.polls[0] }}
            </td>
          </tr>
          <tr>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">Past 7 Days</td>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
              {{ stats.polls[1] }}
            </td>
          </tr>
          <tr>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">Past 30 Days</td>
            <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
              {{ stats.polls[2] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
