{% if users %}

<div
  class="grid grid-cols-1 border-t border-nord-0 dark:border-nord-4 border-collapse my-2"
>
  {% for user in users %}

  <div class="border-x border-b border-nord-0 dark:border-nord-4 p-4">
    <div class="flex flex-row" onclick="toggle_user_information({{ user.id }})">
      <p class="text-l">
        <span class="font-bold">{{ user.username }}</span>
        ({{ user.email }})
      </p>
      <button class="ml-auto">
        <i class="fa fa-angle-right" id="user-toggle-{{ user.id }}"></i>
      </button>
    </div>

    <div class="hidden" id="user-info-{{ user.id }}">

      {% include "admin/users-table.html" %}

      <div class="flex flex-row">
        <input class="hidden" name="user_id" value="{{ user.id }}" />
        <button
          class="bg-nord-3 dark:bg-nord-4 text-nord-6 dark:text-nord-0 px-4 h-8 rounded-md"
          hx-get="{{ url_for('admin.reset_cooldown') }}"
          hx-include="previous input"
          hx-target="#user-table-{{ user.id }}"
          hx-swap="outerHTML"
        >
          Reset Poll Cooldown<i class="fa fa-refresh ml-2"></i>
        </button>
      </div>
    </div>
  </div>

  {% endfor %}
  
</div>

{% endif %}
