<table id="user-table-{{ user.id }}" class="border-collapse my-4">
  <tbody>
    <tr>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        Account Created
      </td>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        {{ user.created_at }}
      </td>
    </tr>
    <tr>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        Last Poll Created
      </td>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        {{ user.last_poll_created }}
      </td>
    </tr>
    <tr>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        Next Poll Allowed
      </td>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        {{ user.next_poll_allowed }}
      </td>
    </tr>
    <tr>
      <td class="border border-nord-3 dark:border-nord-4 py-1 px-2">
        On Poll Cooldown
      </td>
      <td
        id="user-cooldown-{{ user.id }}"
        class="border border-nord-3 dark:border-nord-4 py-1 px-2"
      >
        {{ user.on_cooldown }}
      </td>
    </tr>
  </tbody>
</table>

