{% extends "misc/menu.html" %}

{% block title %}
Help
{% endblock %}

{% block misc_content %}

<div class="mb-4">
  <h1 class="text-2xl mb-2">FAQ</h1>
  <div class="mb-2">
    <p class="font-bold">When is XYZ feature coming?</p>
    <p>We plan to build profiles/friends, then an app, then support for images.</p>
    <p>Any features not on the list above are at least 2-3 months away.</p>
   </div>
   <div class="mb-2">
    <p class="font-bold">TBD...</p>
  </div>
</div>

<div class="mb-6">
  <h1 class="text-2xl mb-2">Known Issues</h1>
  <ul class="list-disc list-inside pl-2">
    <li>Load times are slow ~500ms almost everywhere.</li>
    <li>The scale is sometimes black instead of white.</li>
  </ul>
</div>

{% endblock %}

