alembic==1.14.0
Authlib==1.3.2
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.7
cryptography==44.0.0
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.6
MarkupSafe==3.0.2
numpy==2.1.3
packaging==24.2
plotly==5.24.1
pluggy==1.5.0
-e git+https://github.com/rileywheadon/poll-app.git@32ee65f0f598731c2e72ab26bb2639372c07499c#egg=Polll
pycparser==2.22
pytest==8.3.3
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.36
tenacity==9.0.0
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.1.3
