attrs==23.2.1.dev0
autopep8==2.3.1
cffi==1.17.1
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
cssbeautifier==1.15.1
djlint==1.32.1
EditorConfig==0.12.4
filelock==3.16.1
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.15.1
json5==0.10.0
packaging==24.2
pathspec==0.12.1
pycodestyle==2.12.1
pycparser==2.22
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
tomli==2.0.1
tqdm==4.67.1
wheel==0.45.0
