{% extends "polls/poll-base.html" %}

{% block poll_content %}
  {% for answer in poll.answers %}

    <div class="space-y-10">
      <input type="radio" id="{{ answer.id }}" name="answer_id" value="{{ answer.id }}" class="hidden peer px-10" />
      <label for="{{ answer.id }}" 
        class="flex p-4 text-white rounded-lg border border-gray-700 bg-polll-blue cursor-default 
               hover:bg-polll-green hover:text-gray-600 
               peer-checked:bg-polll-green peer-checked:border-gray-600 peer-checked:text-blue-600">                           
        <p class="font-light select-none">{{ answer.answer }}</p>
      </label>
    </div>
    
  {% endfor %}
{% endblock %}
