{% extends "polls/poll-base.html" %}

{% block poll_content %}
  {% for id, answer in poll.answers.items() %}

  <!-- Put this in macros.jinja if keeping the same design for "choose one" and "choose many" -->
  <div class="space-y-6">
    <input type="checkbox" id="{{ answer.id }}" name="answer_id" value="{{ answer.id }}" class="hidden peer">
    <label for="{{ answer.id }}" 
    class="flex w-1/2 p-4 rounded-lg cursor-default 
           border-2 border-gray-700 bg-gray-800 text-gray-400
           hover:text-gray-300 hover:bg-gray-700
           peer-checked:border-polll-green peer-checked:text-gray-300">
      <p class="font-light select-none">{{ answer.answer }}</p>
    </label>
  </div>

  {% endfor %}
{% endblock %}
