<div class="poll-card border-b-2 overflow-hidden dark:border-nord-3 pt-2 pb-2 select-none">

  <!-- Include the poll question -->
  <div class="flex flex-col p-2">
    <p class="font-light text-neutral-500">{% if poll.is_anonymous == 1 %}anonymous{% else %}@{{ poll.creator }}{% endif %} ⋅ {{ poll.age }}</p>
    <p class="font-light text-neutral-200 text-2xl">{{ poll.question }}</p>
  </div>

  <form
    class="p-2"
    hx-post="{{ url_for('home.response', poll_id = poll.id) }}"
    hx-target="closest .poll-card"
    hx-trigger="submit"
    hx-swap="outerHTML"
  >

    {% block poll_content %} {% endblock %}

    <!-- Include the submit button, share button, and report button -->
    <div class="flex flex-row text-sm justify-end items-center mt-4 font-light">

      <!-- Submit Button -->
      <button
        class="w-28 h-10 rounded-md border-2 dark:border-nord-4 dark:hover:bg-nord-0 py-1 text-nord-0 flex items-center justify-center"
        type="submit"
      >
        <span class="font-medium text-nord-4 mr-1">Submit</span>
        <i class="ml-1 fa fa-paper-plane text-xl text-nord-4"></i>
      </button>
      
      <p class="grow">Votes:
        {{ poll.votes }}
      </p>

      <!-- Share Button -->
      <button 
        class="w-10 rounded-md py-1 select-none text-polll-blue hover:text-polll-green" 
        title="Share"
        onclick="copy_link('{{ poll.url }}')"
        type="button"
      >
        <i class="ml-1 fa fa-share-from-square text-xl"></i>
      </button>

      <!-- Report Button -->
      <button
        class="w-10 ml-2 h-10 rounded-md py-1 select-none text-polll-blue hover:text-nord-11"
        title="Report"
        hx-post="{{ url_for('home.report', poll_id = poll.id) }}"
        hx-confirm="Are you sure you want to report this poll?"
        hx-swap="outerHTML"
        type="button"
      >
        <i class="ml-1 fa fa-triangle-exclamation text-xl"></i>
      </button>

      <!-- Submit Button -->
      <button
        class="ml-4 w-28 h-10 rounded-md border-2 dark:border-nord-4 dark:hover:bg-nord-0 py-1 text-nord-0 flex items-center justify-center text-polll-blue hover:text-polll-green"
        type="submit"
      >
        <span class="hidden md:flex md:font-medium text-nord-4 md:mr-1">Submit</span>
        <i class="ml-1 fa fa-paper-plane text-xl"></i>
      </button>

    </div>
  </form>
</div>
