<div class="poll-card border-b-2 border-zinc-950 overflow-hidden dark:border-nord-3 pt-2 pb-2">
  <!-- Include the poll question -->
  <div class="flex flex-col p-2">
    <p class="text-nord-3 font-light">@{{ poll.creator }}⋅ 23s</p>
    <p class="rounded-md text-2xl font-light">{{ poll.question }}</p>
  </div>

  <form
    class="p-2"
    hx-post="/home/response/{{ poll.id }}"
    hx-target="closest .poll-card"
    hx-trigger="submit"
    hx-swap="outerHTML"
  >
    {% block poll_content %} {% endblock %}

    <!-- Include the submit button, share button, and report button -->
    <div class="flex flex-row text-sm justify-end items-center mt-4 font-light">
      
      <!-- <p class="grow"><i>@{{ poll.creator }}</i></p> -->
      <p class="grow">Votes:
        <i>3,1415,926</i>
      </p>
      <button class="w-10 rounded-md py-1 text-nord-6 dark:text-nord-0" onclick="navigator.clipboard.writeText('{{ poll.url }}')">
        <i class="ml-1 fa fa-share-from-square text-xl text-black dark:text-white"></i>
      </button>
      <button
        class="w-10 ml-2 h-10 rounded-md py-1 text-nord-6 dark:text-nord-0"
        hx-post="/home/report/{{ poll.id }}"
        hx-confirm="Are you sure you want to report this poll?"
        hx-swap="outerHTML"
      >
        <i class="ml-1 fa fa-triangle-exclamation text-xl text-black dark:text-white"></i>
      </button>
      <button
        class="ml-2 w-10 h-10 rounded-md py-1 text-nord-0"
        type="submit"
      >
        <i class="ml-1 fa fa-paper-plane text-xl text-nord-7"></i>
      </button>
    </div>
  </form>
</div>
