<div class="poll-card border-b overflow-hidden dark:border-neutral-700 pt-2 pb-2 select-none">

  <!-- Include the poll question -->
  <div class="flex flex-col p-2">
    <div class="flex flex-row">
      <p class="font-light text-neutral-400">
        {% if poll.is_anonymous == 1 %}
          anonymous
        {% else %}
          @{{ poll.creator }}
        {% endif %} ⋅ {{ poll.age }}
      </p>
      {% if poll.is_pinned == 1 %}
        <i class="ml-auto fa fa-thumbtack text-2xl text-polll-blue rotate-45"></i>
      {% endif %}
      </div>
    <p class="font-light text-neutral-200 text-2xl">
      {{ poll.question }}
    </p>
  </div>


  <style>
    form.htmx-request {
      opacity: 0;
      transition: opacity 500ms linear;
    }

  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }


  @keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  </style>

  <form
    class="p-2"
    hx-post="{{ url_for('poll.response', poll_id = poll.id) }}"
    hx-target="closest .poll-card"
    hx-trigger="submit"
    hx-swap="outerHTML"
  >

    {% block poll_content %} {% endblock %}

    <!-- Include the submit button, share button, and report button -->
    <div class="flex flex-row text-sm justify-end items-center mt-4 font-light">

      <!-- Submit Button -->
      <button
        class="mr-4 w-24 h-8 rounded-xl dark:bg-polll-blue dark:hover:bg-polll-green py-1 text-neutral-900 flex items-center justify-center"
        type="submit"
      >
        <span class="hidden md:flex md:font-medium text-sm text-neutral-900 md:mr-1">Submit</span>
        <i class="ml-1 fa fa-paper-plane text-l"></i>
      </button>
     
      <p class="grow">Votes:
        {{ poll.response_count }}
      </p>

      <!-- Share Button -->
      <button 
        class="w-10 rounded-md py-1 select-none hover:text-polll-green" 
        title="Share"
        onclick="copy_link('{{ poll.url }}')"
        type="button"
      >
        <i class="ml-1 fa fa-share-from-square text-xl"></i>
      </button>

      <!-- Report Button -->
      <button
        class="w-10 ml-2 h-10 rounded-md py-1 select-none hover:text-polll-red"
        title="Report"
        hx-post="{{ url_for('poll.report', poll_id = poll.id) }}"
        hx-confirm="Are you sure you want to report this poll?"
        hx-swap="none"
        type="button"
      >
        <i class="ml-1 fa fa-triangle-exclamation text-xl"></i>
      </button>


    </div>
  </form>
</div>
