{% extends "polls/poll-base.html" %}


<!-- Consider Sortable.js for this: https://preline.co/docs/drag-and-drop.html (this entire site is sick) -->
{% block poll_content %}
  <div class="my-2">
    {% for answer in poll.answers %}
      <div class="border-4 border-nord-3 rounded-lg dark:text-gray-300 dark:border-polll-green w-48 p-2 mt-[-4px] ml-[-4px] cursor-move select-none"
           draggable="true"
           ondragstart="rankedDragStart(event)"
           ondragenter="rankedDragEnter(event)"
           ondragover="cancelDefault(event)"
           ondragexit="rankedDragExit(event)"
           ondrop="rankedDrop(event)">
        <input type="hidden" name="answer_id" value="{{ answer.id }}">
        <span class="pointer-events-none">::</span>
        <span class="pointer-events-none">{{ answer.answer }}</span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
