{% extends "polls/poll-base.html" %}

{% block poll_content %}

  <div id="tier-list-{{ poll.id }}" class="w-[36rem] mt-4 border-2 dark:border-nord-4 rounded-xl w-full">
    {% for tier in ["S", "A", "B", "C", "D", "F"] %}

    <!-- Add listener to this div -->
      <div class="flex flex-row h-16 hover:cursor-default"> 

        <button type="button" id="{{ tier }}-label" class="w-16 border-r-2 {% if not tier == 'F' %} border-b-2 {% endif %} border-nord-0 dark:border-nord-4 p-1 mt-[-1px] ml-[-1px] flex items-center justify-center hover:cursor-default" 
                onclick="handle_tier_select('{{poll.id}}', '{{tier}}')">
          <span class="text-2xl
            {% if   tier == 'S' %} text-tier-S
            {% elif tier == 'A' %} text-tier-A
            {% elif tier == 'B' %} text-tier-B
            {% elif tier == 'C' %} text-tier-C
            {% elif tier == 'D' %} text-tier-D
            {% elif tier == 'F' %} text-tier-F
            {% endif %}
            ">
            {{ tier }}
          </span>
        </button>
        <button type="button" id="{{ tier }}-content-{{ poll.id }}" class="grow flex flex-row justify-start {% if not tier == 'F' %} border-b-2 {% endif %} border-nord-0 p-1 dark:border-nord-4 mt-[-1px] ml-[-1px] hover:cursor-default tier-{{ tier }}" 
                onclick="handle_tier_select('{{poll.id}}', '{{tier}}')">
        </button>
        
      </div>

    {% endfor %}
  </div>
  <!-- TOOD: Fix selection bug and wire to different tiers -->
  <div id="tier-ans-container-{{ poll.id }}" class="flex flex-wrap gap-2 w-fit h-full mt-6">
    {% for answer in poll.answers %}
    <div id="tier-answer-{{ answer.id }}" class="flex">
      <input type="radio" id="tier-{{ answer.id }}" name="answer_id" value="{{ answer.id }}" class="hidden peer">
      <label for="tier-{{ answer.id }}"
        class="items-center justify-center w-full h-full max-w-32
        rounded-lg cursor-default p-4
        border-2 border-gray-700 bg-gray-800 text-gray-400
        hover:text-gray-300 hover:bg-gray-700
        peer-checked:border-polll-green peer-checked:text-gray-300">
        {{ answer.answer }}
      </label>
    </div>
    {% endfor %}
  </div>
{% endblock %}
