{% extends "base.html" %}

{% block body %}

  <div class="bg-white dark:bg-neutral-900 w-screen h-screen">
    
    <div class="flex flex-col items-center justify-center h-full">

      <h1 class="text-3xl font-bold mb-6 text-nord-1 dark:text-nord-6">
        Welcome {% if action=="login" %}back {% endif %}to Polll!
      </h1>

      <form 
        class="flex flex-col w-60"
        {% if action=="login" %}
          action="{{ url_for('auth.login') }}"
        {% elif action =="register" %}
          action="{{ url_for('auth.register') }}"
        {% endif %}
        method="post"
      >
        <input
          class="rounded-md mb-4 p-2 bg-nord-6"
          name="email"
          placeholder="Email"
        />
        {% if action=="register" %}
          <input
            class="rounded-md mb-4 p-2 bg-nord-6"
            name="username"
            maxlength="20"
            placeholder="Username"
          />
        {% endif %}
        {% if action=="login" %}
          <button class="rounded-md bg-polll-blue text-nord-0 px-4 py-2">
            <span>Log In</span>
          </button>
        {% elif action=="register" %}
          <button class="rounded-md bg-polll-green text-nord-0 px-4 py-2">
            <span>Register</span>
          </button>
        {% endif %}
      </form>

      {% if error == "email" %}
        <p class="mt-4 text-nord-11">Invalid email. Please try again.</p>
      {% elif error == "name" %}
        <p class="mt-4 text-nord-11">Username cannot be empty.</p>
      {% elif error == "duplicate_email" %}
        <p class="mt-4 text-nord-11">
          An account with this email already exists. Please 
          <a 
            href="{{ url_for('auth.authenticate', action='login') }}"
            class="text-nord-7"
          >
            log in
          </a>
          instead.
        </p>
      {% elif error == "duplicate_name" %}
        <p class="mt-4 text-nord-11">This username has already been taken.</p>
      {% endif %}

    </div>

  </div>

{% endblock %}
