{% extends "polls/poll-base.html" %}

{% block poll_content %}

<div class="star-selector">
  <div class="rating-group">
    <input checked
           class="rating__input rating__input--none" 
           name="star_rating"
           id="rating00" 
           value="0" 
           type="radio">
    <label aria-label="0 stars" 
           class="rating__label" 
           for="rating00">
      &nbsp;
    </label>
    <label aria-label="0.5 stars" 
           class="rating__label rating__label--half" 
          for="rating05">
      <i class="rating__icon rating__icon--star fa fa-star-half"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating05" 
           value="0.5" 
           type="radio">
    <label aria-label="1 stars" 
           class="rating__label" 
          for="rating10">
      <i class="rating__icon rating__icon--star fa fa-star"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating10" 
           value="1" 
           type="radio">
    <label aria-label="1.5 stars" 
           class="rating__label rating__label--half" 
           for="rating15">
      <i class="rating__icon rating__icon--star fa fa-star-half"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating15" 
           value="1.5" 
           type="radio">
    <label aria-label="2 stars" 
           class="rating__label" 
           for="rating20">
      <i class="rating__icon rating__icon--star fa fa-star"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating20" 
           value="2" 
           type="radio">
    <label aria-label="2.5 stars" 
           class="rating__label rating__label--half" 
           for="rating25">
      <i class="rating__icon rating__icon--star fa fa-star-half"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating25" 
           value="2.5" 
           type="radio">
    <label aria-label="3 stars" 
           class="rating__label" 
           for="rating30">
      <i class="rating__icon rating__icon--star fa fa-star"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating30" 
           value="3" 
           type="radio">
    <label aria-label="3.5 stars" 
           class="rating__label rating__label--half" 
           for="rating35">
      <i class="rating__icon rating__icon--star fa fa-star-half"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating35" 
           value="3.5" 
           type="radio">
    <label aria-label="4 stars" 
           class="rating__label" 
          for="rating40">
      <i class="rating__icon rating__icon--star fa fa-star"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating40" 
           value="4" 
           type="radio">
    <label aria-label="4.5 stars" 
           class="rating__label rating__label--half" 
          for="rating45">
      <i class="rating__icon rating__icon--star fa fa-star-half"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating45" 
           value="4.5" 
           type="radio">
    <label aria-label="5 stars" 
           class="rating__label" 
           for="rating50">
      <i class="rating__icon rating__icon--star fa fa-star"></i>
    </label>
    <input class="rating__input" 
           name="star_rating"
           id="rating50" 
           value="5" 
           type="radio">
  </div>
</div>

{% endblock %}

