<div class="poll-card rounded-xl border overflow-hidden dark:border-neutral-700 select-none fade-in accord-open mb-2 md:mb-4">

  <!-- Include the poll question -->
  <div class="flex flex-row pt-4 px-4 h-10">
    <p class="font-light text-neutral-500 dark:text-neutral-400">
      {% if poll.is_anonymous == 1 %}
        anonymous
      {% else %}
        @{{ poll.creator }}
      {% endif %} ⋅ {{ poll.age }}
    </p>

    <!-- Share Button -->
    <button 
      class="ml-auto rounded-md select-none hover:text-polll-dgreen dark:hover:text-polll-green" 
      title="Share"
      onclick="copy_link('{{ poll.url }}')"
      type="button"
    >
      <i class="fa fa-share-from-square text-xl"></i>
    </button>

    <!-- Report Button -->
    <button
      class="ml-3 md:ml-6 rounded-md select-none hover:text-polll-red"
      title="Report"
      hx-post="{{ url_for('poll.report', poll_id = poll.id) }}"
      hx-confirm="Are you sure you want to report this poll?"
      hx-swap="none"
      type="button"
    >
      <i class="fa fa-triangle-exclamation text-xl"></i>
    </button>

    {% if poll.is_pinned == 1 %}
      <i class="ml-3 md:ml-6 fa fa-thumbtack text-2xl text-polll-blue rotate-45"></i>
    {% endif %}

  </div>

  <div class="flex flex-row px-4">
    <p class="font-light text-neutral-700 dark:text-neutral-200 text-2xl">
      {{ poll.question }}
    </p>
  </div>

  <form
    class="pb-4 px-4"
    hx-post="{{ url_for('poll.response', poll_id = poll.id) }}"
    hx-target="closest .poll-card"
    hx-trigger="submit"
    hx-swap="outerHTML"
  >

    <!-- Additional padding for the poll content -->
    <div class="py-2 md:px-4">
      {% block poll_content %} {% endblock %}
    </div>

    <!-- Include the submit button, share button, and report button -->
    <div class="flex flex-row text-sm justify-end items-center mt-2 font-light h-10">

      <!-- Submit Button -->
      <button
        class="mr-4 w-fit h-8 px-6 py-1 rounded-xl bg-polll-blue hover:bg-polll-dgreen dark:hover:bg-polll-green text-neutral-900 flex items-center justify-center"
        type="submit"
      >
        <span class="hidden md:flex md:font-medium text-sm text-neutral-900 md:mr-1">Submit</span>
        <i class="ml-0 md:ml-1 fa fa-paper-plane text-l"></i>
      </button>
     
      <p class="grow">Votes:
        {{ poll.response_count }}
      </p>

    </div>
  </form>
</div>
