{% extends "base.html" %}

{% block title %}Polll - Home{% endblock %}

{% block body %}

<!-- Settings div (empty by default) -->
<div id="settings">

</div>

<!-- Where the poll result modal lives (empty by default) -->
<div id="poll-modal" class="">
  
</div>

<!-- Where the poll result modal lives (empty by default) -->
<div id="favourite-modal" class="">
  
</div>

<main id="main" class="relative min-h-screen">

  <!-- Background -->
  <!-- NOTE: Add extra padding to account for the footer on small screens -->
  <div 
    class="w-screen h-dvh md:h-screen flex flex-col text-neutral-900 dark:text-neutral-200 dark:bg-neutral-900 overflow-hidden"
  >

    {% include "navbar.html" %}

    <!-- Document Body -->
    <div 
      class="flex overflow-auto flex-row grow md:pt-4"
    >

      <!-- Left Sidebar -->
      <div 
        id="left-sidebar" 
        class="hidden px-2 mr-4 md:mr-0 md:flex md:justify-center md:gap-y-4 select-none md:min-w-52"
      >

        {{ macs.sidebarButtons() }}

      </div>

      <!-- Main Column (Polls) -->
      <div 
        id="home-content"
        class="w-full overflow-auto p-2 select-none shrink overscroll-auto"
      >

        <div id="loading-spinner" class="peer home-indicator w-full flex flex-row grow justify-center items-center size-fit pb-4">
          <i class="fa-solid fa-spinner animate-spin text-base md:text-2xl text-white"></i> 
        </div>

        <div class="peer-[.htmx-request]:hidden">
          {% block home_content %}{% endblock %}
        </div>

      </div>

      <!--Right Sidebar-->
      <div 
        id="right-sidebar"
        class="hidden md:flex md:justify-center h-full px-4 select-none md:min-w-52"
      >

        {% block right_sidebar %}{% endblock %}

      </div>

    </div>

  </div>

</main>

{% endblock %}
