{% import 'macros.jinja' as macs %}
{% extends "home/home.html" %}

{% block home_content %}
<div class="flex flex-col font-light overscroll-y-contain space-y-2">

  <!-- User Profile/data-->
  <div class="flex flex-row border rounded-xl border-neutral-500 hover:border-neutral-200 px-10 py-6 transition-all duration-500 ease-in-out">
    <!-- Profile pic -->
    <div class="flex flex-col justify-center items-center space-y-4">
        <i class="fa-regular fa-user text-6xl"></i>
        <p>{{ session.viewed_user.username }}</p>
    </div>
    <!-- User info -->
    <div class="flex flex-row space-x-10 pl-10">
        <div class="flex flex-col justify-center items-center space-y-4">
            <p class="font-bold">Followers</p>
            <p class="font-black">...</p>
        </div>
        <div class="flex flex-col justify-center items-center space-y-4">
            <p class="font-bold">Following</p>
            <p class="font-black">...</p>
        </div>
        <div class="flex flex-col justify-center items-center space-y-4">
            <p class="font-bold">Posts</p>
            <p class="font-black">{{session.polls_created|length}}</p>
        </div>
        <div class="flex flex-col justify-center items-center space-y-4">
            <p class="font-bold">Answered</p>
            <p class="font-black">{{session.polls_answered|length}}</p>
        </div>
    </div>
  </div>

  <!-- Pinned polls -->
  <div class="w-full h-64 border border-neutral-500 hover:border-neutral-200 rounded-xl p-2 transition-all duration-500 ease-in-out">
    <p class="">Pinned Responses</p>
  </div>

  <!-- User polls + history -->
  <div class="flex flex-row  w-full space-x-2">

    <!-- Your/their polls -->
    <div class="overflow-contain w-1/2 border border-neutral-500 rounded-xl p-2">
        <p>{{ session.viewed_user.username }}'s Polls</p>

        <div class="poll-container">

            {% if session.polls %}
              {% for id, poll in session.polls_created.items() %}
                {% include "results/result-base.html" %}
              {% endfor %}
            {% else %}
              <div class="flex flex-row text-center items-center justify-center py-16 select-none">
                <p class="text-2xl font-light">
                  You haven't answered any polls yet...
                  <br />
                  <br />
                  Get out there and vote!
                </p>
              </div>
            {% endif %}
          
        </div>
          
        {% with state=session.state %}
            {% include "home/load-polls.html" %}
        {% endwith %}
    </div>

    <!-- History -->
    <div class="overflow-contain w-1/2 border border-neutral-500 rounded-xl p-2">
        <p>{{ session.viewed_user.username }}'s Responses</p>
        
        <div class="poll-container">

            {% if session.polls %}
              {% for id, poll in session.polls_answered.items() %}
                {% include "results/result-base.html" %}
              {% endfor %}
            {% else %}
              <div class="flex flex-row text-center items-center justify-center py-16 select-none">
                <p class="text-2xl font-light">
                  You haven't answered any polls yet...
                  <br />
                  <br />
                  Get out there and vote!
                </p>
              </div>
            {% endif %}
          
        </div>
          
        {% with state=session.state %}
            {% include "home/load-polls.html" %}
        {% endwith %}
    </div>

  </div>


</div>

{% endblock %}
