<!-- Include the poll question -->
<p class="text-xl font-bold pb-4">{{ poll.question }}</p>
<form class="pb-4"
      hx-post="/home/respond" 
      hx-target="closest .poll-card"
      hx-trigger="submit"
      hx-swap="innerHTML">

  <!-- Hidden inputs that include poll/user ID in the HTTP request -->
  <input type="hidden" name="poll_id" value="{{ poll.id }}">

  {% for answer in poll.answers %}
    <input type="radio" name="answer_id" value="{{ answer.id }}">
      {{ answer.answer }}
    </input>
    <br>
  {% endfor %}

<!-- Include the submit button -->
<div>
  <input class="border border-zinc-200 px-2 mt-4" type="submit" value="Submit">
</div>
</form>

<hr>

<p class="text-xl font-bold py-4">Results</p>
<p>Responses: {{ poll.response_count() }}
<ul class="px-2 list-disc list-inside">
  {% for row in poll.response_data() %}
  <li>{{ row["text"] }}: {{ row["count"] }}
  {% endfor %}
</ul>
