{% extends "home/home.html" %}

{% block home_content %}

<div class="flex flex-row">

  <!-- Filter Dropdown -->
  <div class="relative select-none w-20 mr-2">

    <button 
      id="filter-dropdown-btn"
      class="relative rounded-xl hover:bg-polll-white hover:dark:bg-neutral-700 font-light text-md px-2 py-1 w-full"
      onclick="toggle_filter_dropdown()"
    >
      {{ session.state.order.capitalize() }} 
      <i class="px-1 fa fa-caret-down"></i>
    </button>
    
    <div id="filter-dropdown" class="hidden absolute z-10 flex flex-col font-light rounded-lg shadow bg-polll-white dark:bg-neutral-700 overflow-hidden w-full">
      <a href="?board={{ session.state.board.id }}&order=hot">
        <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">Hot</button>
      </a>
      <a href="?board={{ session.state.board.id }}&order=top">
        <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">Top</button>
      </a>
      <a href="?board={{ session.state.board.id }}&order=new">
        <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">New</button>
      </a>
    </div>

  </div>

  <!-- Filter Time Dropdown -->
  {% if session.state.order == "top" %}

    <div class="relative select-none w-24">

      <button 
        id="filter-time-dropdown-btn"
        class="relative rounded-xl hover:bg-polll-white hover:dark:bg-neutral-700 font-light text-md px-2 py-1 w-full"
        onclick="toggle_filter_time_dropdown()"
      >
        {{ session.state.period.capitalize() }}
        <i class="px-1 fa fa-caret-down"></i>
      </button>
      
      <div 
        id="filter-time-dropdown" 
        class="hidden absolute z-10 font-light rounded-lg shadow bg-polll-white dark:bg-neutral-700 overflow-hidden"
      >
        <a href="?board={{ session.state.board.id }}&order=top&period=day">
          <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">Day</button>
        </a>
        <a href="?board={{ session.state.board.id }}&order=top&period=week">
          <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">Week</button>
        </a>
        <a href="?board={{ session.state.board.id }}&order=top&period=month">
          <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">Month</button>
        </a>
        <a href="?board={{ session.state.board.id }}&order=top&period=year">
          <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">Year</button>
        </a>
        <a href="?board={{ session.state.board.id }}&order=top&period=all">
          <button class="px-4 py-1 hover:bg-neutral-200 hover:dark:bg-neutral-600 w-full">All</button>
        </a>
      </div>

    </div>
  {% endif %}

</div>

  {% if session.polls %}

    <div id="poll-container">
      {% for id, poll in session.polls.items() %}
        {% include poll["poll_template"] %}
      {% endfor %}  
    </div>

    {% with state=session.state %}
      {% include "home/load-polls.html" %}
    {% endwith %}

  {% else %}

    <div class="flex flex-row text-center items-center justify-center py-16 select-none">
      <p class="text-xl font-light">
        {% if session.state.board.name == "All" %}
        You've answered every poll!
        {% else %}
        You've answered every poll in {{ session.state.board.name }}!
        {% endif %}
        <br />
        <br />
        Login later for more...
      </p>
    </div>

  {% endif %}

{% endblock %}
