{% extends "base.html" %}

{% block title %}Polll - Home{% endblock %}

{% block body %}

<!-- Settings div (empty by default) -->
<div id="settings">

</div>

<main id="main" class="relative min-h-screen">

  <!-- Background -->
  <!-- NOTE: Add extra padding to account for the footer on small screens -->
  <div class="w-screen h-screen flex flex-col dark:text-neutral-200 dark:bg-neutral-900 pb-10 md:pb-0">

    {% include "navbar.html" %}

    <!-- Document Body -->
    <div class="flex overflow-hidden flex-row grow md:pt-4">

      <!-- Left Sidebar -->
      <div 
        id="home-sidebar" 
        class="hidden px-2 md:flex md:justify-center md:gap-y-4 select-none md:min-w-52"
      >
        {{ macs.sidebarButtons() }}

      </div>

      <!-- Main Column (Polls) -->
      <div 
        id="home-content"
        class="w-full overflow-auto p-2 no-scrollbar select-none shrink"
      >

        <div id="home-spinner" class="peer home-indicator w-full flex flex-row grow justify-center items-center size-fit">
          <i class="fa-solid fa-spinner animate-spin text-base md:text-2xl text-polll-green p-4"></i> 
        </div>

        <div class="peer-[.htmx-request]:hidden">
          {% block home_content %}{% endblock %}
        </div>

      </div>

      <!--Right Sidebar (FIX: put in feed as this is the only place it is) -->
      <!-- <div class="hidden md:flex md:justify-center h-full px-4 select-none md:min-w-52">

        {% if session.state.tab == "feed" %}

          <div class="rounded-xl h-max w-full text-center">

            <p class="my-2 font-regular underline text-l">Boards</p>

            {% for id, board in session.boards.items() %}
        
              <a 
                class="h-14 flex flex-row justify-center items-center w-full px-2 font-light hover:bg-polll-white dark:hover:bg-neutral-800 rounded-lg {% if session.state.board.id == board.id %} text-polll-dgreen dark:text-polll-green {% endif %}" 
                href="{{ url_for('home.feed', board = board.id, order = session.state.order or 'hot') }}"
              >
                {{ board.name }}
              </a>

            {% endfor %}

          </div>
           
        {% endif %}

      </div> -->

    </div>

  </div>

</main>

{% endblock %}
