{% extends "base.html" %}

{% block title %}Polll - Home{% endblock %}

{% block body %}

<!-- Settings div (empty by default) -->
<div id="settings">

</div>

<main id="main" class="relative min-h-screen">

  <!-- Background -->
  <!-- NOTE: Add extra padding to account for the footer on small screens -->
  <div class="w-screen h-screen flex flex-col dark:text-nord-4 dark:bg-gradient-to-t dark:from-grad-start dark:to-grad-end pb-10 md:pb-0">

    {% include "navbar.html" %}

    <!-- Document Body -->
    <div class="flex overflow-hidden flex-row grow md:pt-4">

      <!-- Left Sidebar -->
      <div class="hidden p-2 md:flex md:justify-center md:px-8 select-none">
          <div class="flex flex-col overflow-hidden items-start h-full min-w-max">
            {{ macs.buttons() }}
          </div>
      </div>

      <!-- Main Column (Polls) -->
      <div id="home-content" class="w-full overflow-auto p-2 no-scrollbar select-none">

        {% block home_content %}{% endblock %}

      </div>

      <!--Right Sidebar-->
      <div class="hidden md:flex md:justify-center md:items-center md:px-16 select-none">

        {% if session.tab == "feed" %}

          <div class="flex flex-col overflow-hidden items-center h-full min-w-max">
            
          <p class="mb-2 font-light">Boards</p>

            {% for board in boards %}
        
              <a class="flex flex-row items-center justify-center rounded-md w-full h-8 border-2 dark:border-nord-3 mb-4 px-10 font-light text-polll-blue {% if session.board == board.name %} text-polll-green {% endif %} cursor-default"
                href="{{ url_for('home.feed', board = board.name, order = session.feed) }}"
              >
                {{ board.name }}
              </a>

            {% endfor %}

        </div>
        {% endif %}

      </div>

    </div>

  </div>

  <!-- Footer (only appears on small screens) -->
  <footer class="absolute bottom-0 w-full bg-neutral-900">
    <div class="visible md:hidden flex flex-row justify-around items-center select-none">
      {{ macs.buttons(showIcons=False) }}
    </div>
  </footer>

</main>

{% endblock %}
