{% extends "base.html" %}

{% block title %}
Polll - Admin
{% endblock %}

{% block body %}
<!--<div class="w-screen h-screen bg-gradient-to-tr from-zinc-900 via-[#002333] to-zinc-900">-->

<div class="w-100%">
  <img class="w-36 p-4" src="../static/logo-name2.svg">
</div>

<h1 class="text-xl p-2">Manage Polls</h1>
<h2 class="text-l p-2">Active Polls</h2>
<hr>

<div id="poll_list">
{% for poll in polls %}
  {% include "admin/poll-inactive.html" %}
{% endfor %}
</div>

<select class="p-2 rounded-lg m-2" name="poll_type" id="poll_type">
  <option value="CHOOSE_ONE">Choose One</option>
  <option value="CHOOSE_MANY">Choose Many</option>
  <option value="NUMERIC_STAR">Stars (1-5)</option>
  <option value="NUMERIC_SCALE">Scale (1-10)</option>
  <option value="RANKED_POLL">Ranked Poll</option>
  <option value="TIER_LIST">Tier List</option>
</select>
<button class="bg-blue-400 rounded-lg w-48 h-8 m-2"
        hx-get="{{ url_for('create_poll') }}"
        hx-include="previous select"
        hx-target="#poll_list"
        hx-swap="beforeend">
  <b>Create Poll</b>
</button>

<h1 class="text-l p-2">View Responses</h1>

{% endblock %}
