<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Custom Styles -->
  <link href="../static/output.css" rel="stylesheet">
  <link href="../static/styles/star-selector.css" rel="stylesheet">

  <!-- Import HTMX and Plotly -->
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>

  <!-- Custom Scripts -->
  <script src="https://kit.fontawesome.com/b9ed5d7fd5.js"></script>
  <script src="{{ url_for('static', filename='scripts/drag-drop.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/dark-mode.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/settings.js') }}"></script>

  <title>{% block title %}{% endblock %}</title>
</head>

<html class="overscroll-none">
  <body>
  {% block body %}
  {% endblock %}
  </body>
</html>
