<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Custom Styles -->
  <link href="../static/output.css" rel="stylesheet" />
  <link href="../static/styles/star-selector.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@4.3.0/dist/apexcharts.min.css"> -->


  <!-- Import HTMX and FontAwesome -->
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <script src="https://kit.fontawesome.com/b9ed5d7fd5.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts@4.3.0/dist/apexcharts.min.js"></script> -->

  <!-- Custom Scripts. Import at end so that event listeners can be set. -->
  <script src="{{ url_for('static', filename='scripts/drag-drop.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/dark-mode.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/ui.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/notification.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/graphs.js') }}"></script>

  <!-- Title + Tab Icon -->
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="../static/assets/logo-bars.svg">

  <!-- Jinja Marcos -->
  {% import 'macros.jinja' as macs %}

</head>

<html class="overflow-hidden overscroll-none">

  <body hx-boost="true" onload="add_notification_listener()">

    <!-- Settings modal (hidden by default) -->
    {% block body %} 

    {% endblock %}

    <!-- Notifications -->
    <div id="notifications" class="fixed p-4 right-0 bottom-0">

    </div>

  </body>

</html>
