{% extends "base.html" %}

{% block title %}
    Polll - Home
{% endblock %}

{% block body %}

<!-- Settings modal (hidden by default) -->
{% include "settings.html" %}

<!-- Background -->
<div class="w-full h-full min-h-screen bg-nord-6 text-nord-0 dark:text-nord-4 dark:bg-nord-1">

  <!-- Header -->
<div class="w-100% flex items-center border-b-2 bg-nord-5 border-nord-3 dark:border-nord-4 dark:bg-nord-0">

    <!-- Logo image, also redirects to home -->
    <a href="/">
      <img class="w-36 p-6" src="../static/assets/logo-name2.svg">
    </a>
    
    <!-- Settings menu -->
    <div class="ml-auto text-xl px-2 mr-4">
      <p>
        Hello, 
        <a class="underline" onclick="open_settings()">{{ user.username }}</a>
        !
      </p>
    </div>

    <!-- Light/dark mode toggle -->
    <button class="bg-nord-3 text-nord-6 dark:bg-nord-4 dark:text-nord-0 rounded-lg w-10 h-10 mr-4 flex justify-center items-center" onclick="toggleColourScheme()">
      <i id="colour-icon" class="fas fa-moon text-2xl"></i>
    </button>

    <!-- Log Out button -->
    <a class="bg-nord-8 text-nord-0 dark:bg-nord-10 dark:text-nord-6 rounded-lg w-24 h-10 mr-4 flex justify-center items-center" 
       href="{{ url_for('auth.logout') }}">
      Log Out
    </a>
  </div>

  <!-- Document Body -->
  <div class="w-full flex flex-col sm:flex-row flex-wrap sm:flex-nowrap py-4 flex-grow">

  <!-- Left Sidebar -->
  <div class="w-fixed w-full flex-shrink flex-grow-0 px-4">

  </div>

  <!-- Main Column (Polls) -->
  <main id="home-content" role="main" class="w-full flex-grow pt-1 px-3">
    
    {% include "home/menu.html" %}

  </main>
  
  <!--Right Sidebar-->
  <div class="w-fixed w-full flex-shrink flex-grow-0 px-2">

  </div>

</div>

{% endblock %}
