{% extends "base.html" %}

{% block title %}
  Polll
{% endblock %}

{% block body %}

<div class="w-screen h-screen flex flex-col dark:bg-gradient-to-t dark:from-grad-start dark:to-grad-end select-none">

<!-- Document Body -->
<div class="flex overflow-hidden flex-row grow md:pt-4">

  <!-- Main Column -->
  <div class="w-full overflow-auto p-2 no-scrollbar select-none">

    <!-- Logo -->
    <div class="w-100%">
      <img 
        id="logo-icon-startup"
        class="w-36 p-6"
        src="../static/assets/logo-name-dark.svg"
      >
    </div>

    <!-- Home Page -->
    <section class="grid gap-8 px-12 py-16 md:grid-cols-2 md:items-center md:text-left">

      <div class="my-auto flex items-center justify-center">
        <img 
          class="w-3/5 md:w-9/12 drop-shadow-xl"
          src="../static/assets/logo-bars.svg"
        >
      </div>

      <div class="my-auto md:px-4">
        <h1 class="text-4xl md:text-6xl font-bold text-nord-1 dark:text-nord-5 pb-8">
          Have a voice in your community.
        </h1>
        <h1 class="text-xl md:text-2xl text-nord-0 dark:text-nord-4 pb-8">
          Explore, interact, and engage with your favourite topics through polling. 100% free. Completely secure. No ads, ever.
        </h1>
        <div class="flex flex-col md:flex-row">
          <a 
            class="bg-polll-green text-xl text-nord-0 dark:text-nord-0 rounded-lg grow h-12 m-4 flex justify-center items-center drop-shadow-xl"
            href="{{ url_for('auth.authenticate', action='register') }}"
          >
            Register
          </a>
          <a 
            class="bg-polll-blue text-xl text-nord-0 dark:text-nord-0 rounded-lg grow h-12 m-4 flex justify-center items-center drop-shadow-xl"
            href="{{ url_for('auth.authenticate', action='login') }}"
          >
            Log In
          </a>
        </div>
      </div>

    </section>

  </div>

</div>

</div>

{% endblock %}
