{% extends "base.html" %}

{% block title %}
Polll
{% endblock %}

{% block body %}
<div class="w-screen h-screen bg-gradient-to-tr from-zinc-900 via-[#002333] to-zinc-900">

<div class="w-100%">
  <img class="w-36 p-6" src="../static/assets/logo-name.svg">
</div>

<div class="flex flex-row my-12">
  <div class="w-4/12 shrink-0">
    <img class="w-100% pl-24 py-24 drop-shadow-2xl" src="../static/assets/logo-bars.svg">
  </div>
  <div class="my-auto px-24 py-12">
    <h1 class="text-8xl font-display text-zinc-200 pb-8">
      Have a voice in your community.
    </h1>
    <h1 class="text-3xl text-zinc-300 pb-8">
      Explore, interact, and engage with your favourite topics through polling. 100% free. Completely secure. No ads, ever.
    </h1>
    <div class="flex items-center flex-row text-2xl">
      <a class="bg-[#9ed1b8] rounded-lg grow h-12 m-4 flex justify-center items-center hover:bg-emerald-200" href="{{ url_for('auth.register') }}">
        Register
      </a>
      <a class="bg-zinc-300 rounded-lg grow h-12 m-4 flex justify-center items-center hover:bg-zinc-200" href="{{ url_for('auth.login') }}">
        Login
      </a>
    </div>
  </div>
</div>

</div>

{% endblock %}
