{% macro buttons(feed="visible", history="visible", create="visible", myPolls="visible", logout="visible") %}
<a class="{{feed}} text-nord-0 dark:text-nord-6 h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.feed') }}">
  <span class="{% if session.tab == 'feed' %} italic {% endif %}">
      <p class="font-light">Feed</p>
    </span>
    <i class="ml-2 fa-solid fa-fire"></i>
  </a>

  <a class="{{history}} text-nord-0 dark:text-nord-6 h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.history') }}">
    <span class="{% if session.tab == 'history' %} italic {% endif %}">
      <p class="font-light">History</p>
    </span>
    <i class="ml-2 fa-solid fa-book"></i>
  </a>

  <a class="{{create}} text-nord-0 dark:text-nord-6 h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.create') }}">
    <span class="{% if session.tab == 'create' %} italic {% endif %}">
      <p class="font-light">Create</p>
    </span>
    <i class="ml-2 fa-solid fa-pen underline"></i>
  </a>

  <a class="{{myPolls}} text-nord-0 dark:text-nord-6 h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.mypolls') }}">
    <span class="{% if session.tab == 'mypolls' %} italic {% endif %}">
      <p class="font-light">{{session.user.username}}</p>
    </span>
    <i class="ml-2 fa-solid fa-user"></i>
  </a>

  <a class="{{logout}} text-nord-0 dark:text-nord-6 h-10 flex justify-center items-center pt-2 pb-12"
      href="{{ url_for('auth.logout') }}"
      hx-boost="false">
    <span>
      <p class="font-light">Log Out</p>
    </span>
    <i class="ml-2 fa-solid fa-arrow-left"></i>
  </a>
{% endmacro%}

