{% macro buttons(feed="visible", history="visible", create="visible", myPolls="visible") %}

<a class="{{feed}} text-nord-0 dark:text-polll-blue h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.feed') }}">
    <span class="{% if session.tab == 'feed' %} text-polll-green {% endif %}">
        Feed
        <i class="ml-2 fa-solid fa-fire"></i>
    </span>
</a>

<a class="{{history}} text-nord-0 dark:text-polll-blue h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.history') }}">
    <span class="{% if session.tab == 'history' %} text-polll-green {% endif %}">
        History
        <i class="ml-2 fa-solid fa-book"></i>
    </span>
</a>

<a class="{{create}} text-nord-0 dark:text-polll-blue h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.create') }}">
    <span class="{% if session.tab == 'create' %} text-polll-green {% endif %}">
        Create
        <i class="ml-2 fa-solid fa-pen underline"></i>
    </span>
</a>

<a class="{{myPolls}} text-nord-0 dark:text-polll-blue h-10 flex justify-center items-center pt-2 pb-12" href="{{ url_for('home.mypolls') }}">
    <span class="{% if session.tab == 'mypolls' %} text-polll-green {% endif %}">
        {{session.user.username}}
        <i class="ml-2 fa-solid fa-user"></i>
    </span>
</a>

{% endmacro %}

