<!-- Header -->
<div class="w-100% flex space-x-2 md:space-x-4 items-center border-b border-nord-4 dark:border-neutral-700 dark:bg-neutral-900 p-3 select-none">

  <!-- Logo image, also redirects to home -->
  <a href="/">
    <img 
      id="logo-icon-home" 
      class="h-9 cursor-default"
      src="{{ url_for('static', filename='assets/logo-name-dark.svg') }}"
    />
  </a>

  <!-- Settings menu (appears only when not in the administrator menu) -->
  {% if not session.state.admin %}

    <!-- A pesky Javascript function is also needed to set the blur on the main div -->
    <button 
      class="!ml-auto bg-neutral-700 rounded-lg w-9 h-9 flex justify-center items-center" 
      hx-get="{{ url_for('home.open_settings') }}"
      hx-target="#settings"
      hx-swap="innerHTML"
      hx-on::after-request="open_settings();"
    >
      <i id="settings-icon" class="fas fa-gear text-xl cursor-pointer"></i>
    </button>
  {% endif %}

  <!-- Admin panel, if logged in as administrator -->
  {% if session.user.is_admin %} 
    {% if session.state.admin %}
      <a class="!ml-auto bg-neutral-700 rounded-lg w-24 h-10 flex justify-center items-center" href="{{ url_for('home.feed') }}">
        Home
      </a>
    {% else %}
      <a class="bg-neutral-700 rounded-lg w-24 h-10 flex justify-center items-center" href="{{ url_for('admin.users') }}">
        Admin
      </a>
    {% endif %} 
  {% endif %}

</div>
