<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Custom Styles -->
  <link href="../static/output.css" rel="stylesheet">
  <link href="../static/styles/star-selector.css" rel="stylesheet">

  <!-- Import HTMX and Plotly -->
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>

  <!-- Custom Scripts -->
  <script src="https://kit.fontawesome.com/b9ed5d7fd5.js"></script>
  <script src="{{ url_for('static', filename='scripts/drag-drop.js') }}"></script>

  <!-- Montserrat Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

  <title>{% block title %}{% endblock %}</title>
</head>

<html class="overscroll-none">
  <body>
    <div class="bg-[url('assets/background-3-2.png')] bg-cover h-screen w-screen">
      <div class="backdrop-blur-[100px] h-screen w-screen flex flex-row">

        <div class="w-3/12 h-screen bg-neutral-900 opacity-90 flex flex-column align-top justify-center shadow-[0_0px_30px]">
          <img class="w-32 h-fit py-8 opacity-100" src="../static/assets/logo-name2.svg">
        </div>
        <div class="w-9/12 h-screen bg-neutral-800 opacity-80">
          <div>
            <a class="text-2xl text-white montserrat hover:underline cursor-default">rileywheadon</a>
          </div>
        </div>
        <!-- <div class="h-screen w-screen bg-slate-800 opacity-95">  -->
        <!---->
        <!-- </div> -->
        </div>
    </div>
  </body>
</html>
