<div class="flex fixed justify-center items-center w-screen h-dvh md:h-screen z-10 text-neutral-700 dark:text-neutral-200">

  <!-- Modal content -->
  <div class="flex flex-col w-11/12 md:w-2/3 h-2/3 rounded-xl border-2 bg-polll-white dark:bg-neutral-900 border-neutral-300 dark:border-neutral-700 px-6 py-4">

    <div class="flex flex-row mb-4">
      <a 
        href="{{ return_url }}" 
        class="text-4xl cursor-default"
      >
        &times;
      </a>
    </div>

    <!-- Username Editor -->
    <div class="flex flex-row items-center mb-4">
      <span class="mr-2">Username: </span>
      <input 
        type="text" 
        value="{{ session.user.username }}"
        name="username"
        maxlength="15"
        class="rounded-md h-8 px-2 bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200"
      >
    </div>

    <!-- Theme Switcher -->
    <div class="flex flex-row items-center mb-4">
      <span class="mr-2">Toggle Theme: </span>

      <button class="bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200 rounded-lg w-32 h-8 flex justify-center items-center" onclick="toggle_colour_scheme()">
        <span id="theme-text">Light</span>
        <i id="theme-icon" class="fas fa-moon ml-2 text-xl cursor-pointer"></i>
      </button>

    </div>

    <!-- Bottom Bar -->
    <div class="flex flex-row mt-auto">
  
      <!-- Save Settings -->
      <button 
        class="flex justify-center items-center w-32 h-10 rounded-md bg-polll-dgreen dark:bg-polll-green dark:text-neutral-700"
        hx-get="{{ url_for('home.save_settings') }}"
        hx-include="[name='username']"
        hx-swap="none"
      >
        <span>Save Changes</span>
      </button>

      <!-- Log Out -->
      <a class="flex justify-center items-center w-32 h-10 rounded-md bg-polll-blue ml-auto dark:bg-polll-blue dark:text-neutral-700 cursor-default"
         href="{{ url_for('auth.logout') }}"
         hx-boost="false">
        <span>Log Out</span>
        <i class="ml-2 fa-solid fa-arrow-left"></i>
      </a>

    </div>


  </div>

</div>
