{% extends "base.html" %} 

{% block title %}Polll{% endblock %} 

{% block body %}

<main id="main">

<!-- Background -->
<div class="w-screen h-dvh md:h-screen flex flex-row justify-center bg-nord-6 text-nord-0 dark:text-nord-4 dark:bg-neutral-900">

    <!-- Main Column (Polls) -->
    <div class="overflow-auto no-scrollbar max-w-[768px] grow pt-1 px-3">

      <div class="overflow-hidden pt-2 pb-4 select-none">
        <a class="ml-2 text-l text-nord-4" href="{{ url_for('home.feed') }}">
          <i class="fa fa-arrow-left"></i>
          <span class="font-light">Return Home</span>
        </a>
      </div>

      <!-- The <span> tag has to be this way to avoid spacing issues.-->
      {% if not session.user %}
      <div class="pb-4 font-light px-4">
        <span><b class="font-bold text-yellow-500">Warning:</b> Your responses will not be saved! To save your responses, please <a class="font-normal text-polll-blue hover:underline" href="{{ url_for('auth.register_page') }}">register</a>.
        </span>
      </div>
      {% endif %}


      {% include poll["poll_template"] %}

    </div>

</div>

</main>

{% endblock %}
